*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *----------------------------------------------
                    !debug
   *---------------------------------------------- */
div[class*="col"]{
  background-color: #006cfa;
  border: 1px solid white;
  color: white;
  min-height: 40px;
  padding: 10px;
}

div[class*="col"] > div.row > div{
  background-color: #00e165;
  border: 1px solid #006cfa;
  color: white;
}

.margin{
  margin-bottom: 30px;
}

.wide{
  height: 80px;
}

.narrow{
  height: 40px;
}

.narrow-middle{
  align-self: center;
}

.narrow-end{
  align-self: flex-end;
}
